In [1]:
# Abgabe von Leonhard Gulewtisch


printVariable <- function(v){
  cat(sprintf("%s = %f\n", 
              deparse(substitute(v)), v))
}

printDate <- function(v){
  cat(sprintf("%s = \"%s CEST\"\n", 
              deparse(substitute(v)), as.character(v)))
}

printVector_chr <- function(v){
  cat(sprintf("%s = (%s)\n", 
              deparse(substitute(v)), paste(shQuote(v, type="cmd"), collapse=", ")))
}

In [ ]:
# Aufgabe 15

library("RODBC")
channel <- odbcConnectExcel2007("C:/user/gulewitsch/Luft.xlsx")
sqlTables(channel)
sqlColumns(channel, "Datum")$COLUMN_NAME
sqlColumns(channel, "Luft")$COLUMN_NAME

## a)

df.air <- sqlQuery(channel, 'select * from "Luft$"')
df.date <- sqlQuery(channel, 'select * from "Datum$"')
str(df.date$Datum)
df.date$Datum <- as.POSIXct(df.date$Datum, format = "%B-%d %Y")
df.date$Monat <- as.numeric(format(df.date$Datum, "%m"))
df.date$Tag <- as.numeric(format(df.date$Datum, "%d"))

df.airquality <- if(nrow(df.air) == nrow(df.date)){
  merge.data.frame(df.air, df.date,
                   by = c("Monat", "Tag"), 
                   sort = F)[, union(names(df.air), names(df.date))]
}

## b)

all.equal(df.air, airquality, check.names = FALSE)
# Abgesehen von den Spaltennamen sind alle Werte in "df.air" und "airquality"
# gleich.

all.equal(df.air, df.airquality[,1:6])

## c)

rm("df.air", "df.airquality", "df.date")

df.Wind_JuniJuly <- sqlQuery(channel, "select Wind from \"Luft$\" 
                             where Monat = 6 or Monat = 7")
median.Wind_JuniJuly <- median(df.Wind_JuniJuly$Wind)

df.Temp_JuniJuly <- sqlQuery(channel, "select Temp from \"Luft$\" 
                             where Monat = 6 or Monat = 7")
median.Temp_JuniJuly <- median(df.Temp_JuniJuly$Temp)

printVariable(median.Temp_JuniJuly)
printVariable(median.Wind_JuniJuly)

close(channel)

In [2]:
# Aufgabe 16
library(openxlsx)

In [3]:
## a)

# df.air2 <- read.xlsx("\\Server01\lehre\ProgrammierenR\Daten\Luft.xlsx")
df.air2 <- read.xlsx("Luft.xlsx")
all.equal(df.air2, airquality, check.names = FALSE)

[1] TRUE

In [4]:
## b)

df.air3 <- file("clipboard")
all.equal(df.air3, airquality, check.names = FALSE)

[1] "Modes: numeric, list"
[2] "Lengths: 1, 6"
[3] "Attributes: < Names: 1 string mismatch >"
[4] "Attributes: < Component “class”: Lengths (2, 1) differ (string compare on first 1) >"
[5] "Attributes: < Component “class”: 1 string mismatch >"
[6] "Attributes: < Component 2: target is externalptr, current is numeric >"
[7] "target is file, current is data.frame"

In [5]:
# Aufgabe 17

## a)

bdayFisher <- c("1890-02-17", "17. Februar 1890", "17.02.1890")
date.bdayFisher <- c(as.Date(bdayFisher[1], "%Y-%m-%d"), as.Date(bdayFisher[2], "%d. %B %Y"), as.Date(bdayFisher[3], "%d.%m.%Y"))

In [6]:
printVector_chr(date.bdayFisher)

date.bdayFisher = ("1890-02-17", "NA", "1890-02-17")

In [7]:
## b)

date.ageFisher_inDays <- difftime(Sys.Date(), date.bdayFisher[1], units = "days")

In [8]:
printVariable(date.ageFisher_inDays[1])

date.ageFisher_inDays[1] = 46314.000000

In [9]:
##  c)

date.ageFisher_inYears <- as.numeric(date.ageFisher_inDays) / 365.25

In [10]:
printVariable(floor(date.ageFisher_inYears))

floor(date.ageFisher_inYears) = 126.000000

In [11]:
## d)

date.2016_09_30 <- strptime("30.09.2016, 12:00 Uhr", "%d.%m.%Y, %H:%M Uhr")
date.2016_11_30 <- strptime("30.11.2016, 12:00 Uhr", "%d.%m.%Y, %H:%M Uhr")

In [12]:
printDate(date.2016_09_30)
printDate(date.2016_11_30)

date.2016_09_30 = "2016-09-30 12:00:00 CEST"
date.2016_11_30 = "2016-11-30 12:00:00 CEST"

In [13]:
## e)

timeDiff.30sep_30nov_inDays <- difftime(date.2016_11_30, date.2016_09_30, units = "days")
printVariable(timeDiff.30sep_30nov_inDays)

timeDiff.30sep_30nov_inDays = 61.041667

In [14]:
timeDiff.61days_and_1hour <- as.difftime(61, units = "days") + as.difftime(1, units = "hours")
timeDiff.30sep_30nov_inSecs <- as.numeric(timeDiff.30sep_30nov_inDays, units = "secs")
timeDiff.61days_and_1hour - timeDiff.30sep_30nov_inSecs

# Zwischen den zweit Zweitpunkten sind etwa 61,04 Tage vergangen. Wie die vorrangegangene Berechnung verdeutlicht,
# entspricht dieser Zeitraum genau 61 Tage und 1 Stunde. Die "Extra"-Stunde ergibt sich druch die Zeitumstellung 
# von Sommerzeit auf Winterzeit (d.h. plus eine Stunde), die am 30 Oktober stattgefunden hat.

Time difference of 0 secs